<div class="sun">
      <div class="sunRay first"></div>
      <div class="sunRay second"></div>
      <div class="sunRay third"></div>
      <div class="sunRay fourth"></div>
</div>
<div class="sunLight"></div>

<div class="cloud left">
      <div class="base"></div>
      <div class="leftCircle"></div>
      <div class="rightCircle"></div>
</div>

<div class="cloud right">
      <div class="base"></div>
      <div class="leftCircle"></div>
      <div class="rightCircle"></div>
</div>

<div class="container">
<div class="sky"></div>
<div class="ground"></div>
</div>